/* Style for header left link image */
.header_left a img {
  height: 59px;
  width: auto;
  padding-top: 17px;
}

/* Style for header left link image on small screens */
@media only screen and (max-width: 767px) {
  .header_left img {
    padding: 5px 0;
  }
  .header_left a img {
    padding: 0px 0px 5px 0px;
  }
}

/* Style for top header */
.top_header {
  background: #153d6f !important;
}

/* Style for dark menu */
.dark_menu #menu {
  background: #153d6f !important;
  border-top: 1px solid #153d6f !important;
  border-bottom: 5px solid #b79a64 !important;
}

/* Style for footer */
#footer {
  background: #153d6f !important;
  border-top: 4px solid #b79a64 !important;
}

/* Style for sidebar title and block announcements title */
.sidebar .title,
.block-announcements .title {
  background: #153d6f !important;
}

/* Style for dark menu sub-menu items */
.dark_menu #menu > ul > li > div {
  background: #153d6f !important;
}

/* Style for dark menu menu items */
.dark_menu #menu > ul > li {
  background: #153d6f !important;
}

/* Style for dark menu links */
.dark_menu #menu > ul > li > a {
  background: #153d6f !important;
}

/* Style for dark menu links on hover */
.dark_menu #menu > ul > li > a:hover {
  background: #002f6c !important;
}

/* Style for drop-down sub-menu */
ul.nice-menu-down ul {
  background: #153d6f !important;
}
